<%- include('partials/header') %>
    <h1><%= project.title %></h1>
    
    <div class="project-details">
        <p><strong>Description:</strong> <%= project.description %></p>
        <p><strong>Date:</strong> <%= new Date(project.date).toLocaleDateString(undefined, { timeZone: 'UTC' }) %></p>
        <p><strong>Location:</strong> <%= project.location %></p>
        <p><strong>Partner Organization:</strong> <a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a></p>
    </div>
<%- include('partials/footer') %>