<%- include('partials/header') %>
    <h1><%= title %></h1>
    
    <ul class="upcoming-projects-list">
    <% if (projects && projects.length > 0) { %>
        <% projects.forEach(project => { %>
            <li class="project-card">
                <div class="project-info">
                    <a class="project-title" href="/project/<%= project.project_id %>"><%= project.title %></a>
                    <span class="sponsored-by">
                        Sponsored by: <a class="org-link" href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a>
                    </span>
                </div>
            </li>
        <% }); %>
    <% } else { %>
        <p class="no-projects-msg">No upcoming projects are currently available.</p>
    <% } %>
    </ul>
<%- include('partials/footer') %>